---
import MenuLayout from "../../layouts/MenuLayout.astro";
import ReducedBlogEntry from "../../components/ReducedBlogEntry.astro";
import Title from "../../components/Title.astro";

let posts: any[];
try {
    posts = await Astro.glob('./*.md');
} catch (error) {
    posts = [];
}

---


<MenuLayout title="Blog - kinire">
    <div id="blog-page">
        <Title content="Blog"/>
        {posts.length === 0 ? <h2 id="nothing">There are no posts, yet</h2> : ""}
        <div id="blog-posts">
            {
                posts.length === 0 
                ? ""
                : posts.map(post => (
                    <ReducedBlogEntry title={ post.frontmatter.article } author={ post.frontmatter.author } date={ post.frontmatter.date } img_url={ post.frontmatter.img_url } blog_post_url={ post.url! }/>
                ))
            }
        </div>
    </div>
</MenuLayout>

<script>
    import showLetters from "../../helpers/showLetters";

    showLetters(document.querySelector('h2')! as HTMLElement, 10000);

    document.querySelectorAll('figure').forEach((element) => {
        let el = element as HTMLElement;


    });
</script>

<style is:global>
    #blog-page {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-width: 100vw;
        min-width: 100dvw;
        min-height: 100vh;
        min-height: 100dvh;
    }
    #blog-posts {
        display: inline-grid;
        grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
        margin: 0;
        width: 80%;
    }
    #nothing {
        opacity: 0;
        animation: appear 4s ease-out forwards;
    }
    .prog-title {
        margin-block: 50px;
    }
    @keyframes appear {
        0% {
            transform: translateY(-15px);
            opacity: 0;
        }
        100% {
            transform: translateY(0px);
            opacity: 1;
        }
    }
</style>