:root {
  --black: #000;
  --white: #eee;
  --bgc: #222831;
  --sbgc: #393e4666;
  --cont:  #00adb5;
  --cont-trans: #00adb522;
  --wood: #BFA572;
  --wood-trans: #BFA57233;
  --black-transp: #000000dd;
  --bgc-trans: #22283122;
}
