---
import MenuLayout from "../layouts/MenuLayout.astro";
---


<MenuLayout title="About me - kinire">
    <div id="wrap">
        <div id="data-static">
            <img src="/tank.jpg" alt="Logo" id="logo">
            <h1>Iker Nieto Garrido</h1>
            <h2 id="age"></h2>
            <h3 id="city">León, Spain</h3>
            <img src="/curri_icons/others/linkedin.svg" alt="LinkedIn Logo" id="linkedin" class="links">
            <img src="/curri_icons/others/github.svg" alt="Github Logo" id="github" class="links">
            <img src="/curri_icons/others/cv.svg" alt="CV button" id="cv" class="links">
        </div>
        <div id="changed"></div>
    </div> 
</MenuLayout>
<style>
    #wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    #data-static {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        #logo {
            border-radius: 100%;
        }
        #city:hover {
            text-decoration: underline;
        }
        .links {
            height: 45px
        }
        * {
            margin-block: 18px;
        }
    }
</style>


<script>
    import openLink from "../helpers/openLink";
    function timeDifference(date1: Date, date2: Date): number {
        var difference = date1.getTime() - date2.getTime();
        var daysDifference = Math.floor(difference/1000/60/60/24);
        return Math.floor(daysDifference/365);
    }

    const birthday = new Date("2005/04/05");
    const now = new Date(Date.now());
    const $dinAge = document.getElementById('age')!;
    $dinAge.innerHTML = timeDifference(now, birthday) + " years";
    /*openLink(document.getElementById('city')!, "https://www.google.es/maps/@42.5994036,-5.567528,3a,75y,123.05h,98.96t/data=!3m7!1e1!3m5!1s6ese8ST32f51_9ZTgAo1vw!2e0!6shttps:%2F%2Fstreetviewpixels-pa.googleapis.com%2Fv1%2Fthumbnail%3Fpanoid%3D6ese8ST32f51_9ZTgAo1vw%26cb_client%3Dsearch.revgeo_and_fetch.gps%26w%3D96%26h%3D64%26yaw%3D85.89923%26pitch%3D0%26thumbfov%3D100!7i16384!8i8192?entry=ttu");
    openLink(document.getElementById('linkedin')!, "https://www.linkedin.com/in/iker-nieto-79985b232/")
    openLink(document.getElementById('github')!, "https://github.com/kinire98");
    openLink(document.getElementById('cv')!, "/IkerNietoCV.pdf");*/

</script>