---
import MenuLayout from "../layouts/MenuLayout.astro";
import BlogEntry from "../components/BlogEntry.astro";


const posts = await Astro.glob('./blog/*.md');

---


<MenuLayout title="Blog - kinire">
    {
        posts.length == 0 ? <h1>There isn't any articles yet</h1> : 
        posts.map(post => (
            <BlogEntry title={ post.frontmatter.title } author={ post.frontmatter.author } date={ post.frontmatter.date } img_url={ post.frontmatter.img_url } blog_post_url={ post.url! }/>
        ))
    }
</MenuLayout>