---
import MenuLayout from "../layouts/MenuLayout.astro";
import Title from "../components/Title.astro";
---

<MenuLayout title="Contact - kinire">
	<Title content="Contact" />
	<div id="img">
		<div>
			<img
          src="/icons/web-color/outlook.svg"
				alt="Outlook logo"
        id="outlook"
        class="icon"
			/>
      <img src="/icons/web-color/gmail.svg" alt="Gmail logo" id="gmail" class="icon"/>
		</div>
    <div>
			<img
				src="/icons/web-color/linkedin.svg"
				alt="LinkedIn logo"
				id="linkedin"
        class="icon"
			/>
			<img src="/icons/web-color/github.svg" alt="Github logo" id="github" class="icon"/>
		</div>
	</div>
</MenuLayout>

<script>
	import openLink from "../helpers/openLink";
	import showLetters from "../helpers/showLetters";

	showLetters(document.querySelector("h2")! as HTMLElement, 9500);
	openLink(
		document.getElementById("outlook")! as HTMLElement,
		"mailto:iknitgarri@outlook.com"
	);
	openLink(document.getElementById("gmail")! as HTMLElement, "mailto:iknitgarri@gmail.com");
	openLink(
		document.getElementById("linkedin")! as HTMLElement,
		"https://www.linkedin.com/in/iker-nieto-79985b232/"
	);
	openLink(document.getElementById("github")! as HTMLElement, "https://github.com/kinire98");
</script>

<style>
  div > div > * {
    margin-inline: 100px;
  }
	#img {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		margin-block: 50px;
		> * {
			margin-block: 100px;
		}
	}
	img {
		cursor: pointer;
    width: 75px;
    height: 75px;
    margin: 15px;
    
    border-radius: 15px;

    transition: all .3s;
    background: transparent;
	}
  .icon:hover {
    box-shadow: 0px 0px 300px var(--bgc); 
  }
  @media screen and (max-width: 610px) {
    div > div > *, #img, #img > * {
      margin: 0px;
    }
    div > div > * {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
    }
    div > div > * {
      margin: 30px;
    }
    img {
      margin: 0px;
    }
  }
}

</style>

<style is:global>
	main {
		flex-direction: column;
	}
	h2 {
		font-size: 3.5em !important;
	}
</style>
