:root {
    --letter: #FFCA5F;
    --back: #302455;
    --transparent-white: rgba(255,255,255, .35);
    --card-color: rgb(23,23,23);
    --letter-dif: #FFCA5Faa;
    --black: rgba(0,0,0,.5);
}
/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--back);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--letter);
    border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--letter-dif);
}
html {
    scrollbar-color: var(--letter) var(--back);
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    background: var(--back);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../img/obi-wan.gif');
    background-size: cover;
}
h1 {
    color: white;
    font-size: 5rem;
    z-index: 1;
}
h2 {
    color: white;
    font-size: 4rem;
    z-index: 1;
}
a {
    color: white;
    font-size: 2.5rem;
    z-index: 1;
}
img {
    width: 15rem;
}
.black {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--black);
    z-index: 0;
}