---
interface Props {
    content: string
}
const { content } = Astro.props;
---

<h2 data-content={content} class="project-title"></h2>

<style>
    h2 {
        font-size: 3em;
        animation: animate 8s linear forwards; 
        text-align: center;
    }
    @keyframes animate {
        18.1%,10%,20%,50.1%,60%,65.1%,80%,90.1%,92% {
            color: var(--bgc); 
            text-shadow: 0 0 4px var(--black);
        }
        0%, 18%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100% {
            color:var(--white);
            text-shadow: 0 0 10px var(--cont),
                        0 0 20px var(--cont),
                        0 0 40px var(--cont),
                        0 0 80px var(--cont),
                        0 0 160px var(--cont);
        }
    }
</style>