---
import MenuLayout from "./MenuLayout.astro";
interface Props {
    title: string;
}
const { title } = Astro.props;
---

<MenuLayout title={title}>
    <main>
        <article id="central">
            <slot />
        </article>
    </main>
</MenuLayout>

<style>
    #central {
        min-width: 60vw;
        max-width: 75vw;
        padding: 100px;
        flex-direction: column;
        text-align: left;
    }
    #central h1 {
        font-size: 500px !important;
    }
</style>
